<app-dialog-wrapper
  variant="info"
  headerStyle="flat"
  theme="blue"
  [icon]="ICONS.DOWNLOAD"
  title="ZIP letöltés beállítások"
  size="md"
  (closeEvent)="close.emit()"
  (submitEvent)="onSubmit()"
>
  <ng-container dialogBody>
    <!-- ZIP tartalom -->
    <ps-select
      label="Tartalom"
      [options]="zipContentOptions"
      [ngModel]="zipContent()"
      (ngModelChange)="zipContent.set($event)"
    />

    <!-- Fájlnév stratégia -->
    <ps-radio-group
      label="Fájlnevek"
      [options]="fileNamingOptions"
      variant="cards"
      [ngModel]="fileNaming()"
      (ngModelChange)="fileNaming.set($event)"
    />

    <!-- Excel mellékelés -->
    <ps-checkbox
      label="Excel fájl mellékelése a ZIP-ben"
      [ngModel]="includeExcel()"
      (ngModelChange)="includeExcel.set($event)"
    />
  </ng-container>

  <ng-container dialogFooter>
    <button class="btn btn--outline" (click)="close.emit()">Mégsem</button>
    <button class="btn btn--primary" (click)="onSubmit()">
      <lucide-icon [name]="ICONS.DOWNLOAD" [size]="16" />
      Letöltés
    </button>
  </ng-container>
</app-dialog-wrapper>
