<div class="password-strength" [class.password-strength--compact]="compact()">
  <!-- Strength bar -->
  <div class="strength-bar-container">
    <div
      class="strength-bar"
      [style.width.%]="strengthPercent()"
      [class]="strengthClass()"
    ></div>
  </div>

  <!-- Compact mode: inline label + matTooltip -->
  @if (compact()) {
    <div class="strength-compact">
      <span class="strength-label" [class]="strengthClass()">
        {{ strengthLabel() }}
      </span>

      <lucide-icon
        [name]="ICONS.HELP_CIRCLE"
        [size]="16"
        class="strength-info-icon"
        [matTooltip]="tooltipText()"
        matTooltipPosition="above"
        matTooltipClass="password-tooltip"
      />
    </div>
  } @else {
    <!-- Default mode: label + full requirements list -->
    <div class="strength-label" [class]="strengthClass()">
      {{ strengthLabel() }}
    </div>

    <ul class="requirements-list">
      @for (req of requirements; track req.label) {
        <li [class.met]="req.validator(password())">
          <span class="icon">
            @if (req.validator(password())) {
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
              </svg>
            }
          </span>
          {{ req.label }}
        </li>
      }
    </ul>
  }
</div>
