@use '../action-button.mixin' as btn;
@use 'styles/colors' as *;

.expand-button {
  @include btn.action-button-primary;

  // Feltűnőbb stílus
  color: get-color('primary', 500);
  font-weight: 500;

  svg {
    transition: transform 0.2s ease;
  }

  &__icon--rotated {
    transform: rotate(180deg);
  }

  &:hover:not(:disabled) {
    color: get-color('primary', 600);
    background: get-color('primary', 50);
  }
}
