<app-dialog-wrapper
  [variant]="currentValue() ? 'edit' : 'create'"
  headerStyle="hero"
  theme="blue"
  [icon]="ICONS.USERS"
  [title]="currentValue() ? 'Létszám módosítása' : 'Osztálylétszám beállítása'"
  description="Add meg az osztály létszámát a részvételi arány pontos számításához."
  size="sm"
  [isSubmitting]="isBusy()"
  [errorMessage]="apiError()"
  (closeEvent)="cancel()"
>
  <ng-container dialogBody>
    <ps-input
      type="number"
      label="Osztálylétszám"
      [required]="true"
      placeholder="pl. 28"
      [(ngModel)]="classSize"
      (ngModelChange)="onInputChange()"
      [disabled]="isBusy()"
      [min]="MIN_SIZE"
      [max]="MAX_SIZE"
      step="1"
      [errorMessage]="error ?? ''"
      [hint]="!error ? MIN_SIZE + '-' + MAX_SIZE + ' fő között' : ''"
    />
  </ng-container>

  <ng-container dialogFooter>
    <button
      type="button"
      class="btn btn--secondary"
      (click)="cancel()"
      [disabled]="isBusy()"
    >
      Mégse
    </button>
    <button
      type="button"
      class="btn btn--primary"
      (click)="submit()"
      [disabled]="!isFormValid || isBusy()"
    >
      @if (isBusy()) {
        <lucide-icon [name]="ICONS.LOADER" [size]="20" class="spin" />
        <span>Mentés...</span>
      } @else {
        <span>{{ currentValue() ? 'Mentés' : 'Mentés és tovább' }}</span>
      }
    </button>
  </ng-container>
</app-dialog-wrapper>
